[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
#[submodule "bundle/nerdcommenter"]
#    path = bundle/nerdcommenter
#    url = https://github.com/scrooloose/nerdcommenter.git
#[submodule "bundle/nerdtree"]
#    path = bundle/nerdtree
#    url = https://github.com/scrooloose/nerdtree.git
#[submodule "bundle/YouCompleteMe"]
#    path = bundle/YouCompleteMe
#    url = https://github.com/Valloric/YouCompleteMe.git
#[submodule "bundle/vim-easymotion"]
#    path = bundle/vim-easymotion
#    url = https://github.com/easymotion/vim-easymotion.git
